<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon style="color: #D678F1;" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #D678F1;">Historial de Traducciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- traducciones -->
  <ion-card *ngIf="translationHistory.length > 0">
    <ion-card-header>
      <ion-card-title>Historial</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of translationHistory">
          <ion-label>
            <p style="font-size: 10px;">Texto</p>
            <h4>{{ item.input }}</h4>
            <p style="font-size: 10px;">Idioma:</p>
            <h4>{{ item.idioma }}</h4>
            <p style="font-size: 10px;">Traducción:</p>
            <h4>{{ item.translation }}</h4>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- si no hay traducciones -->
  <ion-card *ngIf="translationHistory.length === 0">
    <ion-card-content>
      <p style="text-align: center; color: gray;">No hay traducciones en el historial.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
