ion-title{
    font-size: 50px;
  }
  
  ion-card {
    --background: white;
    --color: #000000;
  }

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.error-item {
  border: 3px solid red;
}

.success-item {
  border: 3px solid green;
}
