<ion-app>

  <ion-header>
    
  </ion-header>

  <ion-content>

    <ion-card>

      <ion-card-header>

        <ion-card-title style="color: #D678F1;">TranslateBKX</ion-card-title>
        <ion-card-subtitle style="color: #D678F1;">App de traduccion</ion-card-subtitle>

      </ion-card-header>

      <ion-item>
        <ion-textarea 

          type="text" name="texto" placeholder="Ingrese texto a traducir..." auto-grow="true" style="width: 100%; font-size: 16px;" rows="6">

        </ion-textarea>

      </ion-item>

    </ion-card>

  </ion-content>

  <ion-footer>
    
    <ion-text>
      adios
    </ion-text>

  </ion-footer>

</ion-app>