<ion-app>

  <!-- Menu de navegación -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>

  <!-- Página principal -->
  <div class="ion-page" id="main-content">
    
    <!-- Cabecera de la página -->
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="color: #D678F1;">TranslateBKX</ion-title>
      </ion-toolbar>
    </ion-header>

  <!-- Contenido de la página -->
  <ion-content>

    <ion-card class="translate-card">
      <ion-item>
        <ion-label position="floating">Texto a traducir</ion-label>
        <ion-input [(ngModel)]="inputText"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Idioma</ion-label>
        <ion-select [(ngModel)]="targetLang">
          <ion-select-option value="en">Inglés</ion-select-option>
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="fr">Francés</ion-select-option>
          <ion-select-option value="de">Alemán</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" (click)="translate(inputText, targetLang)">
        Traducir
      </ion-button>
    </ion-card>
  
    <!-- Botón para ver el historial en otra página -->
    <ion-button expand="block" (click)="navigateToHistorial()">
      Ver Historial
    </ion-button>

      <!-- Mostrar traducción si existe -->
      <ion-card *ngIf="translatedText">
        <ion-card-header>
          <ion-card-title>Texto traducido</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ translatedText }}
        </ion-card-content>
      </ion-card>

    </ion-content>
  </div>
</ion-app>

